<div class="item"  >

  <div class="right floated content">
      <div class="ui blue button">Reply</div>
  </div>

  <div class="content">
     <div class="content">
       <div class="header">
         <%= mention.username %> :
       </div>
       <%= mention.text %>
     </div>

  </div>

</div>
